main {
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Section and article styles */
section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
}

section h2 {
    color: #007BFF;
}

section p {
    margin: 10px 0;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px 0;
    background: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
mark {
    background-color: white;
    color: black;
    font-weight: bold;
}
